**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/Dockerfile
**/Thumbs.db
.idea/
docs/
tests/
var/
vendor/
.env.local
.env.*.local
.env.test
